/* src/app/globals.css */

/* noto-sans-100 - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-100.woff2') format('woff2');   
}
/* noto-sans-100italic - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-100italic.woff2') format('woff2');   
}
/* noto-sans-200 - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-200.woff2') format('woff2');   
}
/* noto-sans-200italic - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-200italic.woff2') format('woff2');   
}
/* noto-sans-300 - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-300.woff2') format('woff2');   
}
/* noto-sans-300italic - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-300italic.woff2') format('woff2');   
}
/* noto-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-regular.woff2') format('woff2');   
}
/* noto-sans-italic - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-italic.woff2') format('woff2');   
}
/* noto-sans-500 - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-500.woff2') format('woff2');   
}
/* noto-sans-500italic - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-500italic.woff2') format('woff2');   
}
/* noto-sans-600 - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-600.woff2') format('woff2');   
}
/* noto-sans-600italic - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-600italic.woff2') format('woff2');   
}
/* noto-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-700.woff2') format('woff2');   
}
/* noto-sans-700italic - cyrillic_latin */
@font-face {
  font-display: swap;   
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/noto-sans-v36-cyrillic_latin-700italic.woff2') format('woff2');   
}



body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #fff;
  border: none;
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: 'Noto Sans';
}

.navbar {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0,
}

main {
  flex: 1;
  padding-bottom: 100px;
}

navbar {
  background-color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.markdown-body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Заголовки */
.markdown-body h1, .markdown-body h2, .markdown-body h3 {
  color: #333;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* Параграфы */
.markdown-body p {
  margin-bottom: 1em;
  color: #555;
}

/* Ссылки */
.markdown-body a {
  color: #1a73e8;
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

/* Списки */
.markdown-body ul, .markdown-body ol {
  padding-left: 20px;
  margin-bottom: 1em;
}

/* Блоки кода */
.markdown-body pre {
  background-color: #272822;
  padding: 10px;
  border-radius: 5px;
  color: #f8f8f2;
  overflow-x: auto;
}

.markdown-body code {
  background-color: #f5f5f5;
  padding: 2px 5px;
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
}

/* Цитаты */
.markdown-body blockquote {
  border-left: 4px solid #d0d0d0;
  padding-left: 16px;
  color: #6a737d;
  margin: 1.5em 0;
}
